<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registros</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: #f5f5f5;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 20px;
        }
        li {
            background-color: #ffffff;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        li:nth-child(even) {
            background-color: #f2f2f2;
        }
        li:hover {
            background-color: #d9edf7;
        }
        h2 {
            background-color: #f2f2f2;
            color: #000000;
            padding: 10px;
            margin: 0;
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="/">Inicio</a></li>
            {% if authenticated == true %}
            <li><a id="profile-button" href="/profile">Mi Perfil</a></li>
            <li><a href="/show-tables">MYSQL</a></li>
            <li><a href="/show-tables-postgres">PostgreSQL</a></li>
            <li><a href="/form">Formulario</a></li>
            <li><a href="/solicitudes">LLamadas</a></li>
            {% endif %}
        </ul>
        {% if authenticated == true %}
        <form method="post" action="/logout" class="navbar-form navbar-right">
            <button id="logout-button" type="submit" class="btn btn-danger">Cerrar Sesión</button>
        </form>
        {% endif %}
    </div>
</nav>

<div class="container">
    <h2>Registros de la tabla {{ table }}</h2>
    <a href="javascript:history.back()" class="btn btn-default">Volver Atrás</a>
    <table class="table table-striped">
        <thead>
            <tr>
                {% for key, value in records[0] %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    {% for key, value in record %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
